pkgbase = mutter-rounded
	pkgdesc = A window manager for GNOME, with rounded corners patch
	pkgver = 40.4
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/mutter
	install = mutter.install
	arch = x86_64
	groups = gnome
	license = GPL
	checkdepends = xorg-server-xvfb
	checkdepends = pipewire-media-session
	makedepends = gobject-introspection
	makedepends = git
	makedepends = egl-wayland
	makedepends = meson
	makedepends = xorg-server
	depends = dconf
	depends = gobject-introspection-runtime
	depends = gsettings-desktop-schemas
	depends = libcanberra
	depends = startup-notification
	depends = zenity
	depends = libsm
	depends = gnome-desktop
	depends = upower
	depends = libxkbcommon-x11
	depends = gnome-settings-daemon
	depends = libgudev
	depends = libinput
	depends = pipewire
	depends = xorg-xwayland
	depends = graphene
	depends = libxkbfile
	provides = mutter
	provides = libmutter-8.so
	conflicts = mutter
	source = mutter-rounded::git+https://gitlab.gnome.org/GNOME/mutter.git#commit=2bfef7dbdc6f432a5433c93c1fcdbf00099367c8
	source = rounded_corners_40.4.patch
	source = meta_clip_effect.c
	source = meta_clip_effect.h
	source = mutter_setting::https://gitlab.gnome.org/lluo/mutter-rounded-setting/uploads/7370b166a10976a0846b57a5ebbe2737/main.js
	sha256sums = SKIP
	sha256sums = 993cb349226afe198771bdca32c225d1bf663b2b14a3454270fa0b64f4e19cab
	sha256sums = 1d4757a46db018f0ac080787c372a01f563499a19c6315fd1b4c3610f450b041
	sha256sums = 2a4670913601b97f809a486da7c11b4e14472f62211154d5a417d3b3e4d77859
	sha256sums = 08a3dbbea7205cdc422901f9b78fd5fbe95bf7378197f33a07bf70a342f35dc5

pkgname = mutter-rounded
