pkgbase = mutter-rounded
	pkgdesc = A window manager for GNOME, with rounded corners patch
	pkgver = 40.5
	pkgrel = 1.2
	url = https://gitlab.gnome.org/GNOME/mutter
	install = mutter.install
	arch = x86_64
	groups = gnome
	license = GPL
	checkdepends = xorg-server-xvfb
	checkdepends = pipewire-media-session
	makedepends = gobject-introspection
	makedepends = git
	makedepends = egl-wayland
	makedepends = meson
	makedepends = xorg-server
	makedepends = wayland-protocols
	depends = dconf
	depends = gobject-introspection-runtime
	depends = gsettings-desktop-schemas
	depends = libcanberra
	depends = startup-notification
	depends = zenity
	depends = libsm
	depends = gnome-desktop
	depends = upower
	depends = libxkbcommon-x11
	depends = gnome-settings-daemon
	depends = libgudev
	depends = libinput
	depends = pipewire
	depends = xorg-xwayland
	depends = graphene
	depends = libxkbfile
	provides = mutter
	provides = libmutter-8.so
	conflicts = mutter
	source = mutter-rounded::git+https://gitlab.gnome.org/GNOME/mutter.git#commit=2b2b3ab8502a5bcc2436e169279d2421f6f1a605
	source = rounded_corners_40.5.patch
	source = shell_blur_effect_40.5.patch
	source = meta_clip_effect.c
	source = meta_clip_effect.h
	source = shader.h
	source = https://gitlab.gnome.org/GNOME/gnome-shell/-/raw/40.5/src/shell-blur-effect.h
	source = https://gitlab.gnome.org/GNOME/gnome-shell/-/raw/40.5/src/shell-blur-effect.c
	source = mutter_setting::https://gitlab.gnome.org/lluo/mutter-rounded-setting/uploads/8f8e3f8d39f31e602c2d09884a6c5dd1/main.js
	sha256sums = SKIP
	sha256sums = 0c2fc381c7529d012d3d8a4368941db7b60ce6128005008b5ddfb4da16dc2b83
	sha256sums = 579f8b6164beba2b7ee273bb6843f1681f697d59362d1d97a414cc484ef9b458
	sha256sums = c47f3a998e5b8dbb53951be450a5f561f91ad8803a653dab2bcee69b1400e6d4
	sha256sums = 2ec553a260497f0ac0180512201c9819b10159a15fcbc6d5007932d8e2a44844
	sha256sums = a02e991156dc3b4418899b73a2e65187a43990851fb235ea128ed7650c839a3b
	sha256sums = 8fb024306843153b28db2f5347775ef7e8add1dd846345148a572ad5336e168b
	sha256sums = d58056b5028e1cf02a029036792f52e3429bd5f71a9403b5be93d95a7ba8252a
	sha256sums = 0182ba6d60c1bcc13d959b018662ea0bc1cc2347e6648fd455212fa3221dfd79

pkgname = mutter-rounded
